<p><%= link_to "ユーザー名", choose_new_or_edit %></p>
<div class="container" class="card" >
  <div class="row" class="card-body">
    <p class="card-text"><%= @blog.user.name %></p>
    <p class="card-text"><%= @blog.content %></p>
    <p>
      <strong>Image:</strong>
      <%= image_tag @blog.image.url if @blog.image.present? && @blog.image.url.present? %>
    </p>
  </div>
</div>
