<html>
  <body>
    <div class="top">
      <p class="title">Facebookに登録</p>
      <p>簡単なステップでアカウントを作成できます。</p>
      <p><%= link_to '登録', new_user_path, class: "btn" %></p

      <footer>
        <p><%= link_to 'すでにアカウントをお持ちですか？', new_session_path %></p>
      </footer>
    </div>
  </body>
</html>
