html {
  position: relative;
  min-height: 100%;
}

body {
}

.top {
  text-align: center;
}

.title {
  font-weight: bold;
  color: #1178F2;
}

.btn_confirm {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0.25em 10em;
  color: #FFF;
  background: #1178F2;/*背景色*/
  border-radius: 4px;/*角の丸み*/
}

.link a {
  text-decoration: none;
  color: #1178F2;
}

.user_title {
  font-weight: bold;
  font-size: 1.25rem;
}

.user_title a {
  text-decoration: none;
}

.container {
  width: 500px;
  height: auto;
  overflow: hidden;
  color:#2D2D31;
  margin: auto;
  padding: 5px;
  border: solid 1px #D9D7D7;
}

.container a {
  text-decoration: none;
}

.menu {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.menu td {
  width: 160px;
}

.menu a {
  text-decoration: none;
}

.menu_center {
  text-align: center;
}

.menu_right {
  text-align: right;
}

.save_btn {
  display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  font-size     : 0.75rem;        /* 文字サイズ */
  font-weight: bold;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 15px;   /* 余白       */
  background    : #DDDDDD;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  border: solid 0px
}

.row {
  margin: 5px;
}

.row a {
  text-decoration: none;
}

.user_name {
  font-weight: bold;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.watch {
  font-size: 12px;
  color: #666666;
  text-align: right;
}

.img {
  text-align: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.new_content {
   width:auto;
   height: 20px;
}

.new_content a {
  text-decoration: none;
}

.content_edit {
  width: auto;
  text-align: center;
}

.root {
  font-size: 1.5rem;
  font-weight: bold;
}

.field {
  vertical-align:top;
  width: 100%;             /* 横幅いっぱいにする */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 150px;
  font-size: 12px;
  border: solid 0px;
}
